/* Loading */
.sk-fading-circle {
  margin: 0 !important;
  margin-left: 10px !important;
}

.sk-circle::before {
  background-color: #060240 !important;
}

/* Draggable */
.board .ghost {
  opacity: 0;
}

.board .board-canvas .drag {
  z-index: 1;
}

/* End Draggable */

.board ul {
  padding: 0;
  margin: 0;
}

.board ul li {
  list-style: none;
}

.board .flip-list-move {
  transition: transform 0.5s;
}

.board {
  padding-top: 55px;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.board .board-header {
  display: flex;
  padding: 10px 0;
}

.board .board-header button {
  width: 50px;
  background: #12E7D4;
  color: #060240;
  border: 2px solid #060240;
  font-weight: 400;
  padding: 10px;
  border-radius: 0.3rem;
  transition: background-color 150ms;
  text-align: center;
  margin: 2px;
}

.board .board-header .board-title {
  color: #060240;
  margin: 0 15px;
  font-style: italic;
  font-weight: 700;
}

.board .board-header .add-list {
  display: inline-block;
  vertical-align: top;
}

.board .add-list .typing-mode {
  border-radius: 10px;
}

.board .add-list .typing-mode input {
  background: none;
  color: #060240;
  font-weight: 400;
  border: none;
  border-bottom: 2px solid #060240;
  padding: 10px;
  border-radius: 0.3rem;
  transition: background-color 150ms;
  width: 250px;
}

.board .add-list .button-mode .only-button {
  background-color: #12E7D4;
  color: #060240;
  border: 2px solid #060240;
  width: 250px;
}

.board .invite-member button {
  background-color: #060240;
  color: #12E7D4;
  border: 2px solid #12E7D4;
  padding: 10px;
}

.board .invite-member .typing-mode input {
  background: none;
  color: #060240;
  font-weight: 400;
  border: none;
  border-bottom: 2px solid #060240;
  padding: 10px;
  border-radius: 0.3rem;
  transition: background-color 150ms;
  width: 250px;
}

.board .invite-member .button-mode .only-button {
  background-color: #060240;
  color: #12E7D4;
  border: 2px solid #12E7D4;
  width: 250px;
}

.board .board-users button {
  width: 150px;
}

.board .board-users .mini-container {
  background: #12E7D4;
  border: 2px solid #060240;
  border-radius: 15px;
  padding: 10px;
  position: absolute;
  z-index: 9;
  /*display: none;*/
}

.users-dropdown {
  display: block!important;
}

.board .board-users .mini-container ul {
  max-height: 250px;
  overflow: auto;
}

.board .board-users .mini-container ul::-webkit-scrollbar {
  width: 20px;
}

.board .board-users .mini-container ul::-webkit-scrollbar-thumb {
  border-right: 10px solid #bfc4ce;
}

.board .board-users .mini-container ul li {
  color: #060240;
  padding: 5px;
  margin: 5px;
  border-bottom: 2px solid #060240;
  border-radius: 10px;
  font-size: 14px;
}

.board .board-content {
  position: relative;
  height: 100%;
}

.board .board-content .board-canvas {
  position: absolute;
  overflow-x: auto;
  overflow-y: hidden;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 5px;
  white-space: nowrap;
}

.board .board-canvas .list-wrapper {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  width: 250px;
  margin: 0 5px;
  height: 100%;
  border-radius: 5px;
}

.board .list-wrapper .list-content {
  background-color: #eaeaea;
  max-height: 100%;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.board .list-content .list-header {
  background: #12E7D4;
  color: #060240;
  font-weight: 700;
  padding: 16px;
}

.board .list-header .update-list .button-mode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #060240;
  padding: 5px 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.board .update-list .button-mode button {
  background: none;
  color: #12E7D4;
  border: none;
}

.board .update-list .list-title {
  color: #12E7D4;
  margin: 0;
}

.board .update-list .typing-mode {
  display: flex;
  background: #060240;
  padding: 5px 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.board .update-list button {
  background: #12E7D4;
  border-bottom: 1px solid #12E7D4;
  border-left: 1px solid #060240;
  border-top: 1px solid #060240;
  border-right: 1px solid #060240;
}

.board .update-list .typing-mode input {
  background: none;
  border: none;
  /*border-bottom: 1px solid #12E7D4;*/
  color: #12E7D4;
  width: 100%;
}

.board .update-list .update {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 3px;
}

.board .list-cards {
  padding: 9px 9px 0;
  overflow-y: auto;
}

.board .list-cards .transition {
  display: block;
  /*min-height: 20px;*/
  height: auto;
}

.board .list-cards::-webkit-scrollbar {
  width: 20px;
}

.board .list-cards::-webkit-scrollbar-thumb {
  border-right: 10px solid #bfc4ce;
}

.board .list-cards li {
  background: #e0dede;
  color: #261473;
  list-style: none;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 10px;
  border-bottom: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.board .list-cards li:hover {
  background-color: #eee;
}

.board .list-cards li .update-card .typing-mode {
  display: flex;
}

.board .update-card .typing-mode button {
  background: none;
  border: 1px solid #060240;
}

.board .update-card .typing-mode input {
  background: none;
  border: none;
  border-bottom: 1px solid #060240;
  width: 100%;
}

.board .update-card .button-mode {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.board .update-card .button-mode .update-delete {
  display: flex;
}

.board .update-card .button-mode .update-delete button {
  font-size: 12px;
}

.board .update-card .button-mode button {
  background: none;
  border: none;
  color: #060240;
}

.board .update-card .button-mode p {
  margin: 0;
}

.board .list-footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  background: #12E7D4;
  color: #060240;
  font-weight: 400;
  text-align: left;
  padding: 11px;
}

.board .list-footer .add-card .typing-mode input {
  background: none;
  border: none;
  border-bottom: 1px solid #060240;
  color: #060240;
  width: 125px;
}

.board .add-card .typing-mode button {
  background: none;
  border: 1px solid #060240;
  color: #060240;
}

.board .add-card .button-mode button {
  background: #12E7D4;
  color: #060240;
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #060240;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.board .delete-list button {
  background: #060240;
  color: #12E7D4;
  border: 1px solid #21e3d1;
  border-bottom-right-radius: 8px;
}

.is-invalid {
  border-color: #dc3545 !important;
}
