<div class="board">
  <div class="board-header">
    <h3 class="board-title">
      {{ board_title }}
      <circle-spin v-show="isLoading"></circle-spin>
    </h3>
    <div class="add-list">
      <div class="typing-mode" v-if="selected === 'list'">
        <input type="text" placeholder="Add List"
               id="list_title"
               name="list_title"
               v-model="list_title"
               v-validate="listValidation().list_title"
               :class="{ 'is-invalid':errors.has('list_title') }"
               @keyup.enter="storeList">
        <button class="input-button close-button" @click="closeList">
          <font-awesome-icon :icon="['fas', 'times']"/>
        </button>
        <button class="input-button" @click="storeList">Add</button>
        <div class="invalid-feedback">
          <span v-if="errors.has('list_title')">{{ errors.first('list_title') }}</span>
        </div>
      </div>
      <div class="button-mode" v-else>
        <button class="only-button" @click="openAddListTypingMode('list')">
          <font-awesome-icon :icon="['fas', 'plus']"/>
          Add List
        </button>
      </div>
    </div>
    <div class="invite-member">
      <div v-if="selected === 'invite'" class="typing-mode">
        <input type="text" placeholder="Email Address"
               id="email"
               name="email"
               v-model="email"
               v-validate="inviteValidation().email"
               :class="{ 'is-invalid':errors.has('email') }">
        <button class="input-button close-button" @click="closeList">
          <font-awesome-icon :icon="['fas', 'times']"/>
        </button>
        <button class="input-button" @click="invite">
          <font-awesome-icon :icon="['fas', 'check']"/>
        </button>
        <div class="invalid-feedback">
          <span v-if="errors.has('email')">{{ errors.first('email') }}</span>
        </div>
      </div>
      <div v-else class="button-mode">
        <button class="only-button" @click="openInviteTypingMode('invite')">
          Invite
        </button>
      </div>
    </div>
    <div class="board-users" style="color: black">
      <button @click="toggleDropdown">Users</button>
      <div class="mini-container" v-if="dropdown">
        <ul>
          <li v-for="user in board_users" :key="user.id">{{ user.name }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="board-content">
    <div class="board-canvas">
      <draggable v-model="lists" :options="{group:'lists'}" v-bind="dragOptions" style="height: 100%"
                 @change="sortList">
        <transition-group type="transition" name="flip-list">
          <div class="list-wrapper" v-for="list in lists" :key="list.id">
            <div class="list-content">
              <div class="list-header">
                <div class="update-list">
                  <div class="typing-mode" v-if="updateListId===list.id">
                    <input type="text" v-model="list.title" @keyup.enter="updateList(list)">
                    <button @click="closeList(list)">
                      <font-awesome-icon :icon="['fas', 'times']"/>
                    </button>
                    <button class="update" @click="updateList(list)">
                      <font-awesome-icon :icon="['fas', 'check']"/>
                    </button>
                  </div>
                  <div class="button-mode" v-else>
                    <h5 class="list-title">{{ list.title }}</h5>
                    <button @click="openUpdateListTypingMode(list)">
                      <font-awesome-icon :icon="['fas', 'edit']"/>
                    </button>
                  </div>
                </div>
              </div>
              <ul class="list-cards">
                <draggable v-model="list.cards" :options="{group:'cards'}" v-bind="dragOptions"
                           @add="moveCardToAnotherList($event, list)" @change="sortCard(list)">
                  <transition-group class="transition" type="transition" name="flip-list">
                    <li v-for="card in list.cards" :key="card.id" :cardId="card.id">
                      <div class="update-card">
                        <div class="typing-mode" v-if="updateCardId===card.id">
                          <input type="text" v-model="card.title">
                          <button @click="closeCard(card)">
                            <font-awesome-icon :icon="['fas', 'times']"/>
                          </button>
                          <button @click="updateCard(list, card)">
                            <font-awesome-icon :icon="['fas', 'check']"/>
                          </button>
                        </div>
                        <div class="button-mode" v-else>
                          <p>{{ card.title }}</p>
                          <div class="update-delete">
                            <button @click="deleteCard(list, card)">
                              <font-awesome-icon :icon="['fas', 'trash']"/>
                            </button>
                            <button @click="openUpdateCardTypingMode(card)">
                              <font-awesome-icon :icon="['fas', 'pencil-alt']"/>
                            </button>
                          </div>
                        </div>
                      </div>
                    </li>
                  </transition-group>
                </draggable>
              </ul>
              <div class="list-footer">
                <div class="add-card">
                  <div class="typing-mode" v-if="listId===list.id">
                    <input type="text" placeholder="Add Card"
                           id="card_title"
                           name="card_title"
                           v-model="card_title"
                           v-validate="cardValidation().card_title"
                           :class="{ 'is-invalid':errors.has('card_title') }"
                           @keyup.enter="storeCard($event.target, list)">
                    <button @click="closeCard">
                      <font-awesome-icon :icon="['fas', 'times']"/>
                    </button>
                    <button @click="storeCard($event.target, list)">
                      <font-awesome-icon :icon="['fas', 'check']"/>
                    </button>
                    <div class="invalid-feedback">
                      <span v-if="errors.has('card_title')">{{ errors.first('card_title') }}</span>
                    </div>
                  </div>
                  <div class="button-mode" v-else>
                    <button @click="openAddCardTypingMode(list)">
                      <font-awesome-icon :icon="['fas', 'plus']"/>
                      Add a card
                    </button>
                  </div>
                </div>
                <div class="delete-list">
                  <button @click="deleteList(list)">
                    <font-awesome-icon :icon="['fas', 'trash']"/>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </transition-group>
      </draggable>
    </div>
  </div>
</div>
